/*
  ****************************************
  GLOBAL
  ****************************************
 */
.figure {
    text-align:center;
}
.figure img {
    max-width:100%;
}
.section-head {
	letter-spacing: 6px;
}