/*
  ****************************************
  GLOBAL
  ****************************************
 */
 body {
 	font-family: Arial,Helvetica,sans-serif;
 }
 
.figure {
    text-align:center;
}
.figure img {
    max-width:100%;
}
.section-head {
	letter-spacing: 6px;
}
.bibl {
	margin:0 0 10px 10px;
}
/*REND*/
.rend-smallcaps{
	font-variant:small-caps;
}
.rend-hang{
	padding-left:2em;
	text-indent:-2em;
}
.rend-ul{
	text-decoration:underline;
}
.rend-bold{
	font-weight:bold;
}
.rend-italic{
	font-style:italic;
}
.rend-sup{
	vertical-align:super;
	font-size:smaller;
}
.rend-sub{
	vertical-align:sub;
	font-size:smaller;
}